.App {
  text-align: center;
}

.navbar {
  background: rgba(80, 68, 253, 0.5);
  height: 100px;
  margin-top: -20px;
  color: rgb(9, 88, 49);
}
h1 {
  position: center;
}

#homeLink{
  position: fixed;
  right: 5px;
  top: 5px;
}

.homeImage{
  height: 40vh;
}
#homepage{
  display: flex;
  justify-content: space-evenly;
}

#ring{
  display: flex;
  justify-content: space-evenly;
}

#customList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}


