.App {
  text-align: center;
}
a {
  color: rgb(9, 221, 9);
  text-shadow: 0 0 2px #1134fc;
}
h1 {
  font-size: 40px;
  padding-top: 20px;
  position: center;
  text-shadow: 0 0 3px #00ff62, 0 0 5px #88ff00;
}
h2{
  color: rgb(9, 88, 49);
  text-shadow: 0 0 3px #00ff62, 0 0 5px #88ff00;
}


#help-button{
  background-color: rgb(76, 255, 21);
  color: rgba(80, 68, 253);
  font-size: large;
  position: fixed;
  left: 5px;
  top: 5px;
}
.show{
  visibility: visible;
}
.hide{
  visibility: hidden;
}


.navbar {
  background: rgba(80, 68, 253, 0.5);
  height: 100px;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 30px;
  color: rgb(9, 88, 49);
}
#homeLink{
  font-size: x-large;
  position: fixed;
  right: 5px;
  top: 5px;
  text-shadow: 0 0 2px #00ff62;
}


.homeImage{
  height: 400px;
  width: 300px;
  border-radius: 15%;
}
#homepage{
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}
.homepage-help{
  width: 300px;
  background-color: rgb(39, 28, 28);
  position: absolute;
  color: rgb(76, 255, 21);
  text-shadow: 1px 1px #1134fc;
}


#custom-form{
  color: rgb(76, 255, 21);
  text-shadow: 1px 1px #1134fc;
}
.create-help{
  position: center;
  color: rgb(76, 255, 21);
  text-shadow: 1px 1px #1134fc;
}


#customList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}
.fighterCard{
  padding: 10px;
}
.list-help{
  position: center;
  color: rgb(76, 255, 21);
  text-shadow: 1px 1px #1134fc;
}


#ring{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(9, 221, 9);
  text-shadow: 1px 1px #1134fc;
}
.ring-help{
  position: center;
  color: rgb(76, 255, 21);
  text-shadow: 1px 1px #1134fc;
}
#fight-card{
  display: flex;
  justify-content: space-evenly;
  color: rgb(9, 221, 9);
  text-shadow: 1px 1px #1134fc;
}
.glove{
  height: 20vh;
}
#left-glove{
  transform: scaleX(-1);
}


#game-buttons{
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button{
  font-size: x-large;
  border-radius: 25%;
  padding: 15px 30px;
  margin: 20px;
}
.button:hover{
  color: red;
}


#victory-image{
  overflow: hidden;
  height: 45vh;
}

@media (max-width: 800px){
  h1 {
    font-size: 30px;
    padding-top: 30px;
  }
  #homepage{
    flex-direction: column;
  }
  #help-button{
    font-size: medium;
  }
  .homeImage{
    margin-top: 30px;
  }
  .button{
    font-size: large;
    margin: 10px;
  }
  .homepage-help{
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
  }
}

@media (max-width: 450px){
  h1 {
    font-size: 30px;
    padding-top: 45px;
  }
  #customList{
    flex-direction: column;
    padding-left: 0px;
  }
  .list-help{
    position: fixed;
    top: 20px;
    left: 5px;
    width: 25vw;
    color: rgb(76, 255, 21);
    text-shadow: 1px 1px #1134fc;
  }
  .button{
    font-size: medium;
    padding: 8px 16px;
    margin: 2px;
  }
  #homeLink{
    font-size: large;
    
  }
}