.App {
  text-align: center;
}
a:visited {
  color: green;
}


.navbar {
  background: rgba(80, 68, 253, 0.5);
  height: 100px;
  margin-top: -30px;
  margin-bottom: 30px;
  color: rgb(9, 88, 49);
}
h1 {
  font-size: 40px;
  padding-top: 20px;
  position: center;
}

#homeLink{
  font-size: large;
  position: fixed;
  right: 5px;
  top: 5px;
}

.homeImage{
  height: 40vh;
}
#homepage{
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

#ring{
  display: flex;
  justify-content: space-evenly;
}

#customList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.fighterCard{
  padding: 10px;
}

#victory-image{
  overflow: hidden;
  height: 45vh;
}


